@import url(https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap
);
body{
  padding: 0;
  margin: 0;
  font-family:'Roboto', sans-serif
}
.navbar{
display: flex;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
background-color: 212, 208, 208;
.nav .login-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background-color: #1c87c9;
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.nav .login-container button:hover {
  background-color: #0e002b;
}
}
nav{
  margin-left: auto;
  
}
nav ul{display: flex;
list-style: none;
color: #741717;

}
nav ul li{
  padding-right: 50px;
  color: #741717;
}
body{
    background-color: rgb(212, 208, 208);
}
.home {
margin: 10px;
    padding: 10px;
    width: 100%;
    font-family: 'Arial', sans-serif; 
    color: black;    
  }
  a{
    text-decoration: none;
    padding: 10px;
  }
  .profile {
    padding: 0;
    width:1000px;
    font-family: 'Arial', sans-serif; 
    color: black;    
  }
  .home{
    flex: 1;
  }
  .welcome{
    flex: 1;
    
    margin-bottom: 100px;
    
  }
  .profile{ 
    text-align: center;
    border-radius: 10px;
  } 
  .buttonn {
    background-color: #a70c0c; 
    border: black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20 px;
  }
  li{
    text-decoration: none;
    padding: 10px;
  }
  .SERVICES{
    text-align: left;
  }
  div, img {
    display: inline-block;
  }
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 10px;
    padding: 0 8px;
  }
  
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: inline-block;
    }
  }
  
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .container {
    padding: 0 10px;
  }
  
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
    
  }
  .column {
    
        
        font-family: 'Arial', sans-serif; 
        color: black; 
           
      }
      
      footer {
        display: block;
      list-style-position: inside;
      border-style:solid
      
      
      }
      footer {
      text-align: left;
        padding: 0px;
        background-color: #e28a8a;
        color: rgb(0, 0, 0);
      
      }
      .Why {
      
        margin-right: auto;
        padding: 20px;

      }
      
      
  
      .container {
        padding: 20px;
        background-color: #f1f1f1;
      }
      
    
      input[type=text], input[type=submit] {
        width: 100%;
        padding: 12px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
      }
      

      input[type=checkbox] {
        margin-top: 16px;
      }
      
      
      input[type=submit] {
        background-color: #a70c0c;
        color: white;
        border: none;
      }
      
      input[type=submit]:hover {
        opacity: 0.8;
      }
      
.submit{
  color:#a70c0c ;
}
.loginn{
  background-color: #a70c0c;
}
